@model  List<Burger>
@{
    ViewData["Title"] = "Burger Übersicht";
}

<h1>Das sind meine Burger</h1>

<a href="/Burger/New" class="btn btn-success">Neuen Burger erstellen</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Invented</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    
    @{
        foreach (var burger in Model)
        {
            
      
        
        <tr>
            <td>@(burger.BurgerId)</td>
            <td>@(burger.Title)</td>
            <td>@(burger.Description)</td>
            <td>@(burger.InventedDate)</td>
            <td>@(burger.Price)</td>
            
        </tr>
        }
    }
    
    
    </tbody>
    
    
</table>